@import "variable.styl"

body, html
  font: 300 12px/1.5 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background-white
  color: $color-dark-grey